<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zheye.server.mapper.BookTypeMapper">
    <select id="select" parameterType="java.lang.Integer" resultType="zheye.server.entity.BookType">
        SELECT *
        FROM book_type
    </select>
</mapper>
