<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zheye.server.mapper.UserMapper">
    <select id="findbyid" resultType="java.util.Map">
        select *
        from front_user
    </select>
    <select id="selectNickname" resultType="String">
        select nickname
        from front_user
        where id = #{id}
    </select>
</mapper>